/libtool
/libartnet.pc
/debian/tmp/
/configure
/configure~
/config.status
/config.log
/config.h
/config.h.in
/config.h.in~
/config/
/aclocal.m4
.libs/
/autom4te.cache/
*.o
*.lo
*.a
*.la
.deps/
/stamp-h1
/debian/files
/debian/libartnet-dev/
/debian/libartnet1
/debian/*.substvars
/debian/.debhelper
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
Makefile
Makefile.in
